//********************* Examples *********************

.inspiration {
  margin-top: 100px;
}

.examples-gallery-container_inspiration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.examples__wrapper_inspiration {
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all .6s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: .3;
    transition: all .6s;
  }

  &:hover::after {
    opacity: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    align-self: flex-end;
  }
}

.examples__img-overflow {
  overflow: hidden;
  width: 555px;
  height: 350px;
}

.examples__offer {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -146px;
  width: 458px;
  padding: 40px;
  background-color: #fff;
  transform: translateY(30px);
}

.examples__wrapper_inspiration:nth-child(2n+1) > .examples__offer {
  left: 50%;
  margin-left: 90px;
}

.examples__wrapper_inspiration:nth-child(2n) > .examples__offer {
  right: 50%;
  margin-right: 90px;
}

.examples__offer_animated {
  animation: showing .7s ease-in-out;
  animation-fill-mode: forwards;
}

.cta__wrapper_inspiration {
  margin-top: 100px;
}
