// Variables

// $light-default-color: #000;
// $light-default-color-bg: #EEE;
// $primary-color-text: rgba($light-default-color, .87);
// $secondary-color-text: rgba($light-default-color, .54);
// $disabled-color-text: rgba($light-default-color, .38);

$color: #2a0d02;
$color-hover: #99401d;
$color-accent: #d65828;
$background-color: #f4f4f4;
