%main
  / START Header Page
  .page-header
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.page-img-wrap
          .page-img.video{:style => "background-image: url('/images/video.jpg')"}
            %a.playbutton{"data-video" => "https://01-lvl3-pdl.vimeocdn.com/01/1917/4/109585712/299389083.mp4?expires=1514470276&token=069943bc5169c6fb21370", :href => "https://vimeo.com/109585712"}
        .col-xs-12.col-sm-6.col-md-6.col-lg-6.page-title-wrap
          %a.page-title.row{:href => "#"}
            %span.title-preview выключатели
            %h1 Электрооборудование для жилых помещений
            %span.title-link.link{:href => "#"} Заказать звонок
  / END Header Page
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.bread-crumbs
        %a{:href => "#"} каталог
        %span.separator /
        %a{:href => "#"} электрооборудование для жилых помещений
        = succeed "\u{432}\u{44b}\u{43a}\u{43b}\u{44e}\u{447}\u{430}\u{442}\u{435}\u{43b}\u{438}" do
          %span.separator /
  / START Filter
  .container
    .row.product-wrap
      .col-xs-12.col-sm-12.col-md-3.col-lg-3
        .filter-product.dropdown
          .filter-items
            .dropdown
              %button#item-1.filter-btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %svg#filter-svg{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %line.a{:x1 => "28", :x2 => "50", :y1 => "11", :y2 => "11"}
                  %line.b{:x2 => "31", :y1 => "25", :y2 => "25"}
                  %line.b{:x2 => "5", :y1 => "39", :y2 => "39"}
                  %line.b{:x1 => "20", :x2 => "33", :y1 => "39", :y2 => "39"}
                  %circle.b{:cx => "20.5", :cy => "10.5", :r => "7.5"}
                  %circle.b{:cx => "37.5", :cy => "24.5", :r => "7.5"}
                  %line.b{:x1 => "45", :x2 => "50", :y1 => "25", :y2 => "25"}
                  %line.a{:x2 => "14", :y1 => "11", :y2 => "11"}
                  %circle.b{:cx => "12.5", :cy => "39.5", :r => "7.5"}
                  %line.b{:x1 => "43", :x2 => "50", :y1 => "39", :y2 => "39"}
                glossa
              %ul.dropdown-menu{"aria-labelledby" => "item-1"}
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    glossa
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    glossa
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    glossa
            .dropdown
              %button#item-1.filter-btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %svg#filter-svg{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %path.a{:d => "M17,14,1.72,29.28a1,1,0,0,0,0,1.43L20.39,48.86a1,1,0,0,0,1.43,0L45.14,25.54a1,1,0,0,0,0-1.41l-23-23"}
                  %path.a{:d => "M45.54,38.84l2.93,3.52a1.94,1.94,0,0,1,.44,1.58,5,5,0,0,1-9.82,0,1.94,1.94,0,0,1,.44-1.58l2.93-3.52A2,2,0,0,1,45.54,38.84Z"}
                белый, титан, зол...
              %ul.dropdown-menu{"aria-labelledby" => "item-1"}
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    Белый
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    Титан
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    Золото
            .dropdown
              %button#item-1.filter-btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %svg#filter-svg{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %path.a{:d => "M8,35V16.56a1,1,0,0,1,1.73-.68L19,27h1V16.56a1,1,0,0,1,1.73-.68L32,27h1V9a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1V45H8"}
                schneider electric
              %ul.dropdown-menu{"aria-labelledby" => "item-1"}
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    schneider electric
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    schneider electric
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    schneider electric
            .dropdown
              %button#item-1.filter-btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %svg#filter-svg{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %path.a{:d => "M27,40l-3.7,5.66a1,1,0,0,1-.75.34H17a1,1,0,0,1-1-1v-.67a1,1,0,0,1,.2-.6l6.6-11.46a1,1,0,0,0,.2-.6v-.86a1,1,0,0,0-.79-1l-7.12-2.6a1,1,0,0,1-.74-1.29l.09-.26a.92.92,0,0,1,.18-.32L26.21,7.77a1,1,0,0,1,.69-.27h6a1,1,0,0,1,.68,1.73l-5.45,7.56a1.07,1.07,0,0,0-.22.47l-.14.86a1,1,0,0,0,.6.5l8.07,3.17a1,1,0,0,1,.52,1.4L31,34"}
                номинальный ток
              %ul.dropdown-menu{"aria-labelledby" => "item-1"}
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    16 А
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59git)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    32 A
            .dropdown
              %button#item-1.filter-btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %svg#box-icon{:height => "27", :viewbox => "0 0 27 27", :width => "27", :xmlns => "http://www.w3.org/2000/svg"}
                  %path.cls-1{:d => "M1381,1244h24", :transform => "translate(-1380 -1243)"}
                  %path.cls-1{:d => "M1381,1268v-12", :transform => "translate(-1380 -1243)"}
                  %path.cls-1{:d => "M1406,1244v25h-25", :transform => "translate(-1380 -1243)"}
                в наличии
              %ul.dropdown-menu{"aria-labelledby" => "item-1"}
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    в наличии
                %li
                  %a{:href => "#"}
                    %svg#close{:height => "12.82", :viewbox => "0 0 12.41 12.82", :width => "12.41", :xmlns => "http://www.w3.org/2000/svg"}
                      %path.cls-1{:d => "M1398,1103l-9,9", :transform => "translate(-1386.59 -1100.59)"}
                      %path#Shape_1209_copy.cls-1{:d => "M1389,1102l9,9", "data-name" => "Shape 1209 copy", :transform => "translate(-1386.59 -1100.59)"}
                    нет в наличии
          %button.btn-how.desktop как купить?
      .col-xs-12.col-sm-12.col-md-9.col-lg-9
        .product.row
          .col-xs-6.col-sm-4.col-md-4.col-lg-4.product-item-wrap
            .product-item.clearfix{:href => "#"}
              .item-img
                %img{:alt => "Product 1", :src => "/products/cat-prod-1.jpg"}/
              %h2 GSL000431
              %h5.item-desk-title тип:
              %span.desc-txt выключатель
              %h5.item-desk-title производитель:
              %span.desc-txt schneider electric
              %h5.item-desk-title серия:
              %span.desc-txt glossa
              %h5.item-desk-title номинальный ток:
              %span.desc-txt 10A
              %h5.item-desk-title цвет:
              %span.desc-txt белый
              %h5.item-desk-title наличие на складе:
              %span.desc-txt в наличии
              %a.btn-download
                Скачать каталог
                %svg#download{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %polyline.a{:points => "42 9 25 27 24 27 6 9"}
                  %line.a{:x1 => "7", :x2 => "25", :y1 => "37", :y2 => "37"}
                  %line.a{:x1 => "42", :x2 => "35", :y1 => "37", :y2 => "37"}
          .col-xs-6.col-sm-4.col-md-4.col-lg-4.product-item-wrap
            .product-item.clearfix{:href => "#"}
              .item-img
                %img{:alt => "Product 2", :src => "/products/cat-prod-2.jpg"}/
              %h2 GSL000431
              %h5.item-desk-title тип:
              %span.desc-txt выключатель
              %h5.item-desk-title производитель:
              %span.desc-txt schneider electric
              %h5.item-desk-title серия:
              %span.desc-txt glossa
              %h5.item-desk-title номинальный ток:
              %span.desc-txt 10A
              %h5.item-desk-title цвет:
              %span.desc-txt белый
              %h5.item-desk-title наличие на складе:
              %span.desc-txt в наличии
              %a.btn-download
                Скачать каталог
                %svg#download{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %polyline.a{:points => "42 9 25 27 24 27 6 9"}
                  %line.a{:x1 => "7", :x2 => "25", :y1 => "37", :y2 => "37"}
                  %line.a{:x1 => "42", :x2 => "35", :y1 => "37", :y2 => "37"}
          .col-xs-6.col-sm-4.col-md-4.col-lg-4.product-item-wrap
            .product-item.clearfix{:href => "#"}
              .item-img
                %img{:alt => "Product 3", :src => "/products/cat-prod-3.jpg"}/
              %h2 GSL000431
              %h5.item-desk-title тип:
              %span.desc-txt выключатель
              %h5.item-desk-title производитель:
              %span.desc-txt schneider electric
              %h5.item-desk-title серия:
              %span.desc-txt glossa
              %h5.item-desk-title номинальный ток:
              %span.desc-txt 10A
              %h5.item-desk-title цвет:
              %span.desc-txt белый
              %h5.item-desk-title наличие на складе:
              %span.desc-txt в наличии
              %a.btn-download
                Скачать каталог
                %svg#download{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
                  %polyline.a{:points => "42 9 25 27 24 27 6 9"}
                  %line.a{:x1 => "7", :x2 => "25", :y1 => "37", :y2 => "37"}
                  %line.a{:x1 => "42", :x2 => "35", :y1 => "37", :y2 => "37"}
        .row
          %a.btn-more
            %svg#load-more{:height => "20", :viewbox => "0 0 50 20", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
              %circle.a{:cx => "7.5", :cy => "10", :r => "6.5"}
              %circle.a{:cx => "25.5", :cy => "10", :r => "6.5"}
              %circle.b{:cx => "42.5", :cy => "10", :r => "6.5"}
            Загрузить еще
        %button.btn-how.mobile как купить?
  / END Filter
  / START Inspiration Block
  .inspiration
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.inspiration-wrap
          %h6.insp-meta
            %span канту 2017
            \/ решение для офиса
          .page-img
            %img{:alt => "Inspiration", :src => "/images/insp.jpg"}/
        .col-xs-12.col-sm-5.col-md-5.col-lg-5.insp-title-wrap
          .insp-title.row
            %span.title-preview решение любой задачи
            %h2 Компания Kantu предлагает комфортные и безопасные решения для Вашего дома
            %a.title-link.link{:href => "#"} вдохновиться
  / END Inspiration Block
  / START Filter
  .container
    .row.series-wrap
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .filter
          %button.series-btn
            %svg#filter-svg{:height => "50", :viewbox => "0 0 50 50", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
              %line.a{:x1 => "28", :x2 => "50", :y1 => "11", :y2 => "11"}
              %line.b{:x2 => "31", :y1 => "25", :y2 => "25"}
              %line.b{:x2 => "5", :y1 => "39", :y2 => "39"}
              %line.b{:x1 => "20", :x2 => "33", :y1 => "39", :y2 => "39"}
              %circle.b{:cx => "20.5", :cy => "10.5", :r => "7.5"}
              %circle.b{:cx => "37.5", :cy => "24.5", :r => "7.5"}
              %line.b{:x1 => "45", :x2 => "50", :y1 => "25", :y2 => "25"}
              %line.a{:x2 => "14", :y1 => "11", :y2 => "11"}
              %circle.b{:cx => "12.5", :cy => "39.5", :r => "7.5"}
              %line.b{:x1 => "43", :x2 => "50", :y1 => "39", :y2 => "39"}
          %ul.nav.filter-items
            %li
              %a.filter-btn{:href => "#"} розетки
            %li
              %a.filter-btn{:href => "#"} выключатели
            %li
              %a.filter-btn{:href => "#"} управление комфортом
            %li
              %a.filter-btn{:href => "#"} квартирные щиты
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .series.row
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.series-item-wrap
            .series-item.clearfix{:href => "#"}
              .item-img
                %img{:alt => "Product 1", :src => "/products/product-item-1.jpg"}/
              %h2 Выключатели серия Unica
              %p Cерия Unica Хамелеон – это самая широкая цветовая палитра рамок на рынке электротехники. В коллекции представлено 20 цветов: от нежных пастельных тонов до ярких модернистских.
              %span.title-link.link посмотреть серию
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.series-item-wrap
            .series-item.clearfix{:href => "#"}
              .item-img
                %img{:alt => "Product 2", :src => "/products/product-item-2.jpg"}/
              %h2 Выключатели серия Glossa
              %p Дизайн серии Glossa разрабатывался французским дизайн-бюро и отражает современные тенденции европейского дизайна: плавные линии, классические формы и универсальность.
              %span.title-link.link посмотреть серию
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.series-item-wrap
            .series-item.clearfix{:href => "#"}
              .item-img
                %img{:alt => "Product 3", :src => "/products/product-item-3.jpg"}/
              %h2 Выключатели серия Merten
              %p
                Серия Antique представлена изделиями роскошного  дизайна для классического интерьера из высококачественных материалов, таких как дорогая и эксклюзивная  латунь с позолотой 24 карата, а также из пластика с сохранением того же уникального стиля.
              %span.title-link.link посмотреть серию
  / END Filter
